body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.page--container {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
}

.page--content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    background-color: black;
    color: whitesmoke;
    align-items: center;
    padding: 0;
    
}

.navbar--items {
    list-style: none;
}

